* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  padding: 32px 64px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-logo {
  width: 100%;
  height: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.josel-logo {
  width: 420px;
  margin-top: 50px;
}

html,
body {
  background-image: url(./Imagenes/Prueba.jpg);
  background-size: cover;
  width: 1450px;
  height: 800px;
}

.contenedor-calculadora {
  width: 400px;
  height: 500px;
  padding: 14px;
  background-color: rgb(31, 133, 173);
  border-radius: 20px;
  border: 5px solid black;
  margin-top: 60px;
  margin-bottom: 20px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  /*las imágenes usadas tienen width de 48px*/
  width: 100px;
  position: fixed;
  right: 0;
}

.prueba {
  width: 80px;
  height: 100px;
}
